{block content}
	
	<div class="page-heading">	
		<h1>{$actualPage->getTitle()}</h1>
		{include ../tabs.latte active => 'carousel'}
	</div>
	
	<br>
	<div class="row control-group">
		<a class="btn btn-primary ajax" n:href="updateSlide idPage => $actualPage->getId()">{_'Add slide'}</a>
	</div>

	<div class="row control-group">
			{control carouselGrid}
	</div>
		
	
{/block}